<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <ul>
            <li>
                GET http://127.0.0.1:8080/orders - return a list of all orders<br>
                <a href="/orders">http://127.0.0.1:8080/orders</a>
            </li><br>
            <li>
                POST http://127.0.0.1:8080/order/new - create a new order<br>
                <a href="/order/new">http://127.0.0.1:8080/order/new</a>
            </li><br>
            <li>
                GET http://127.0.0.1:8080/order/[ORDER ID] - return order details for a given order<br>
                <a href="/order/16118">http://127.0.0.1:8080/order/16118</a>
            </li><br>
            <li>
                PUT http://127.0.0.1:8080/order/[ORDER ID]/update - update an existing order<br>
                <a href="/order/16118/update">http://127.0.0.1:8080/order/16118/update</a>
            </li><br>
            <li>
                GET http://127.0.0.1:8080/products - return a list of all products<br>
                <a href="/products">http://127.0.0.1:8080/products</a>
            </li><br>
            <li>
                POST http://127.0.0.1:8080/product/new - create a new product<br>
                <a href="/product/new">http://127.0.0.1:8080/product/new</a>
            </li><br>
        </ul>
    </body>
</html>